:root {
    --primary: #0d47a1;
    --secondary: #1565c0;
    --tertiary: #1976d2;
    --quaternary: #1e88e5;
    --quinary: #2196f3;
    --senary: #001d3d;
    --warning: #ffc300;
}

body,
.nav-link,
.key-value-pair label {
    color: var(--warning);
}

body {
    display: grid;
    place-items: center;
    background-color: var(--senary);
}

.hero-image {
    height: 220px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    margin: 20px 0;
}

.hero-image img {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
}

.app-header h1,
.config-form {
    padding-bottom: 20px;
}

.nav-tabs,
.tab-content {
    border: none;
    margin-bottom: 20px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
    border: var(--warning) 1px solid;
    border-radius: 5px;
    color: var(--warning);
}

.nav-tabs .nav-link.active {
    background-color: var(--primary);
}

.nav-link {
    font-size: 1.2em;
}

.tab-content {
    background-color: var(--primary);
    border-radius: 5px;
    padding: 20px;
}

.tab-content>.active,
.tab-pane {
    display: grid;
}

.tab-pane {
    align-items: center;
    justify-items: center;
    min-width: 340px;
}

.custom-file-label,
button {
    font-weight: bold;
    font-size: 1.2em;
    border: var(--warning) 1px solid;
    border-radius: 5px;
    padding: 6px 12px;
    cursor: pointer;
}

[type="file"]::file-selector-button {
    background-color: var(--quaternary);
    color: var(--warning);
    padding: 5px 10px;
    border-radius: 5px;
    border: var(--quaternary) 1px solid;
    cursor: pointer;
}

/* Hide the default file input */
.custom-file-input {
    display: none;
}

/* Hover state for custom label */
.custom-file-label:hover {
    background-color: var(--primary);
}

button {
    background-color: var(--primary);
    color: var(--warning);
    width: 140px;
    grid-column: 2;
}

button:hover {
    background-color: var(--danger);
    color: var(--warning);
}

.config-form {
    display: grid;
    grid-template-columns: max-content;
    margin-top: 20px;
    background-color: var(--tertiary);
    border-radius: 5px;
    padding: 20px;
    justify-items: end;
}

.section h3 {
    background-color: var(--primary);
    color: var(--warning);
    padding: 20px;
    border-radius: 5px;
}

.section {
    width: 480px;
}

.config-form button {
    grid-column: 1 / 2;
}

.bindings-load-buttons,
.rotations-load-buttons {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    align-items: center;
    justify-items: center;
    margin-top: 20px;
}

.key-value-pair {
    display: grid;
    grid-template-columns: max-content 1fr;
    padding-bottom: 20px;
}


.rotation-label {
    min-width: 100px !important;
    width: 100px;
}

.rotation-input .rotation {
    max-width: 480px !important;
    width: 480px;
}

.config-form{
    min-width: 480px;
}

.key-value-pair label {
    min-width: 200px;
    max-width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 10px;
    text-align: right;
}

.key-value-pair input,
.rotation {
    width: 100%;
    /* max-width: 240px; */
    background-color: var(--primary);
    border-radius: 5px;
    border: none;
    color: var(--quinary);
    padding: 5px 10px;
}

/* style rotation scroll bar */
.rotation::-webkit-scrollbar {
    background-color: var(--primary);
}

.rotation::-webkit-scrollbar-thumb {
    background-color: var(--quaternary);
    border-radius: 8px;
}

.rotation::-webkit-resizer {
    background-color: var(--secondary);
    border-style: solid;
    border-width: 2px 0 0 2px;
}